<html>
	<head>
		<title>Color Shading</title>
		<style>
			th, td {
				height: 40px;
				width: 80px;
			}
			table {
				margin: auto;
			}
		</style>
	</head>
	<body>
		<h1 style="text-align: center;">Color Shading</h1>
		<table>
			<tr>
			<th style="background-color: rgb(0, 0, 0);"></th>
			<th style="background-color: rgb(255, 0, 0);"></th>
			<th style="background-color: rgb(0, 255, 0);"></th>
			<th style="background-color: rgb(0, 0, 255);"></th>
			</tr>
			{% for c in shade %}
			<tr>
			<td style="background-color: rgb({{c}}, {{c}}, {{c}});"></td>
			<td style="background-color: rgb({{c}}, 0, 0);"></td>
			<td style="background-color: rgb(0, {{c}}, 0);"></td>
			<td style="background-color: rgb(0, 0, {{c}});"></td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
